.class0{
    border-top: none;
    border-left: none;
}

.class1{
    border-top: none;
}

.class2{
    border-top: none;
    border-right: none;
}

.class3{
    border-left: none;
}

.class5{
    border-right: none;
}

.class6{
    border-left: none;
    border-bottom: none;
}

.class7{
    border-bottom: none;
}

.class8{
    border-bottom: none;
    border-right: none;
}